{% extends "base_generic.html" %}

{% block content %}
    <h2>Student Directory</h2>
    <table style="width:100%">
        <tr>
            <th>User</th>
            <th>First name</th>
            <th>Last name</th>
            <th>Email</th>
            <th>Units</th>
            {#            <th>Enrolment</th>#}
        </tr>
        {% if student_list %}
            {% for student in student_list %}
                <tr>
                    {#                    <td><a href="{% url 'student-detail' student.user %}">{{ student.user }}</a></td>#}
                    <td>{{ student.user }}</td>
                    <td>{{ student.user.first_name }}</td>
                    <td>{{ student.user.last_name }}</td>
                    <td>{{ student.user.email }}</td>
                    <td>
                        {% for unit in student.units.set_all %}
                            {{ unit.code }},
                        {% endfor %}
                    </td>
                    {#                    <td><p>Change Enrolment</p></td>#}
                </tr>
            {% endfor %}
            </table>
        {% else %}
            <p>No Students</p>
        {% endif %}
{% endblock %}