{% extends "base_generic.html" %}

{% block content %}
    <h3>Welcome to {{ user.get_username|title }}'s Units</h3>
    <p>Below are the unit(s) you are enrolled in for this semester.</p>
    {% if unit_list %}
        <ul>
            {% for unit in unit_list %}
                <li>
                    <a href="{{ unit.get_absolute_url }}">{{ unit.title }}</a> ({{ unit.code }})
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>You have no enrolled units. Click here to register for units.</p>
    {% endif %}
    <p>
    {% load static %} <img src="{% static "media/hacker_cat.jpg" %}" width="1000" alt="cat" />
    </p>
{% endblock %}