{% extends "base_generic.html" %}

{% block content %}
    <h1>Computer Science Labs</h1>
    <p>Units for {{ user.get_username }}</p>
    {% if unit_list %}
        <ul>
            {% for unit in unit_list %}
                <li>
                    <a href="{{ unit.get_absolute_url }}">{{ unit.title }}</a> ({{ unit.code }})
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>You have no enrolled units</p>
    {% endif %}
    <p>
    {% load static %} <img src="{% static "media/hacker_cat.jpg" %}" width="1000" alt="home" />
    </p>
{% endblock %}