{% extends "base_generic.html" %}

{% block content %}
    <h1>{{ containerinstance.container.name }}</h1>
    <p><strong>Description: </strong> {{ containerinstance.container.description }}</p>
    <p><strong>Instructions:</strong> {{ containerinstance.container.instructions }}</p>
    <p><strong>IP Address: </strong>{{ containerinstance.public_ip }}</p>

    <form method="post" action="{% url 'stop-container' instance_pk=containerinstance.pk %}">
        {% csrf_token %}
        <button>stop container</button>
    </form>
{% endblock %}